# Flutter & Dart
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Build outputs
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/app/build/
*.aar
*.apk
*.ipa

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs & temporary files
*.log
*.tmp

# Coverage
coverage/
